<!DOCTYPE html>
    <html>
        <head>
            <title>Add Books</title>
            <link href="../public/book_css/f_add_up_book.css" rel="stylesheet" type="text/css">
            <link href="../https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        </head>
        <body>

           
              <div class="container">
      
                <h1>Add Book</h1>
                 <form method="POST" action="/admin/addbook">
                <hr>
                 <label for="isbn"><b>ISBN</b></label>
                <input type="text" placeholder="ISBN 1" name="isbn" required>

                <label for="pict"><b>Picture</b></label>
                <input type="file" name="image" accept="image/*"><br>
                
                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Name 1" name="name" required>


                <label for="authorid"><b>Author ID</b></label>
                <input type="text" placeholder="Author ID" name="authorId" required>
                  <!-- <div class="list-author">
                   <select name="authorid">
                     <option>Author ID</option>
                  
                   </select>
                  </div> -->

                  <label for="publisherid"><b>Publisher ID</b></label>
                  <input type="text" placeholder="Publisher ID" name="publisherId" required>
                  <!-- <div class="list-pub">
                   <select name="publisherId">
                     <option>Publisher ID</option>           
                   </select>
                  </div> -->
            
                <label for="publication date"><b> Pulication Date</b></label>
                <input type="text" name="publicationDate" placeholder="27/10/1999" >
                    
                
                <div class="clearfix">
                  <a href="/admin/book"><button type="button" class="cancelbtn"><i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i> Cancel</button></a>
                  <button type="value" class="signupbtn"><i class="fa fa-plus fa-1x" aria-hidden="true"></i> Create</button>
                </div>
          </form>
              </div>
            </form>

            </body>
    </html>