<!DOCTYPE html>
    <html>
        <head>
            <title>Books</title>
            <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
            <link href="../public/book_css/f_books.css" rel="stylesheet" type="text/css">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        </head>
      <body>        

          <div class="container">
            
            <div class="div1">
                <a href="/book/addbook"><button type="button" class="btn btn-addbook"><i class="fa fa-plus" aria-hidden="true"></i></button></a> 
                
                
                  <form method="GET">
                    <div class="btn-search">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            <hr>    
            </div>
            <div class="table-book">
                <table class="table table-sm">  
                     <thead>
                        <tr> 
                            <th>ID</th>                   
                            <th>ISBN</th> </th>
                            <th>Picture</th>
                            <th>Names</th>
                             <th>Author ID</th>
                             <th>Publisher ID</th>
                             <th>Publication Date</th>
                             <th>Action</th>
                        </tr>                       
                    </thead>      
                  <tbody>
                      <% for(let i=0;i< books.length; i++) { %>
                    <tr>
                        <td><%= books[i].id %></td>
                        <td><%= books[i].isbn %></td>
                        <td><%= books[i].image %></td>
                        <td><%= books[i].name %></td>
                        <td><%= books[i].authorId %></td>
                        <td><%= books[i].publisherId %></td>
                        <td><%= books[i].publicationDate %></td>
                        <!-- <td><%= books[i].userId %></td> -->
                        <td class="btn-action"  >
                            <a href="/book/upbook/<%= books[i].id %>"><button class="btn btn-success" type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button></a>  
                            <a href="/admin/delbook/<%= books[i].id %>"><button class="btn btn-danger" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button></a>
                        </td> 
                    </tr>       
                    <% } %>           
                 </tbody>             
                </table>            


            </div>  
            
             <ul class="pagination">
                <li class="page-item "><a class="page-link" href="?page-1">Previous</a></li>
                <% for(var i =1; i <= totalpage; i++){  %>
                        <%if(i === Number(page)) { %>
                    <li class="page-item active"><a class="page-link" href="?page=<%= i%>"><%= i %></a></li>
                <% }else{ %>
                    <li class="page-item"><a class="page-link" href="?page=<%= i%>"><%= i %></a></li>
                <% } %>
                <% } %>
    
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
              
        </div>
            </div>  
                       <h4><%= getMessages().notify %></h4>
            <div class="home">
                <a href="/homeadmin"><button class="btn btn-warning" type="button"><i class="fa fa-home fa-2x" aria-hidden="true"></i></button></a>
            </div>
        </body>

       
    </html>