66780-<!DOCTYPE html>
    <html>
        <head>
            <title>Update Books</title>
            <link href="../public/book_css/f_add_up_book.css" rel="stylesheet" type="text/css">
            <link href="../https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        </head>
        <body>
            <style>
              /* Sign Up */

input[type=text],input[type=date],input[type=image],select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 8px;
  }
hr
 {
    border: 1px solid black;
    margin-bottom: 25px;
  }
  
  button {
    background-color: antiquewhite;
    color: white;
    padding:14px 20px;
    border: none;
    cursor: pointer;
    margin-right: initial;
    border-radius: 8px;
  }
  
  button:hover {
    opacity:1;
  }
  
  .cancelbtn {
    padding: 14px 20px;
    background-color: gray;
    
  }
  
  .cancelbtn, .signupbtn {
    float: left;
    width: 25%;
   
  }
  
  .container {
    width: 350px;
    margin: 0 auto;
    padding: 65px;
    margin-bottom: 10%;
  }
    h1
    {
      color: black;
    }
  a
  {
    color: black;
  }
              </style>
   
              <div class="container">
      
                <h1>Update Book</h1>
     
                <form action="/admin/upbook/<%= bookdata.id %>" method="POST">
                  
                <input type="hidden" placeholder="ISBN 1" name="isbn" value="<%= bookdata.isbn %>" required>
                

                <label for="pict"><b>Picture</b></label>
                <input type="image" name="picture" img src="#" value="<%= bookdata.picture %>" ><br>
                
                <label for="name"><b>Name</b></label>
                <input type="text"  name="name" value="<%= bookdata.name %>" required>
<!-- 
                <label for="authorid"><b>Author ID</b></label>
                <input type="text" name="authorId" value="<%= bookdata.authorId %>"" required> -->
               
                <label for="authorid"><b>Author ID</b></label>
                   <select name="authorId">
                    <% for(let i=0;i< bookdata.length; i++) { %>
                      <!-- <option value="<%= authorId %>"></option> -->
                     <option value="<%= bookdata[i].authorId %>"></option>
                     <!-- <option><%= bookdata[i].authorId %></option> -->
                     <% } %>    
                   </select>
                  
                   
                  <label for="publisherid"><b>Publisher ID</b></label>
                  <input type="text"  name="publisherId" value="<%= bookdata.publisherId %>" required>
                  <!-- <div class="list-pub">
                   <select name="publisherId">
                     <option vua>Publisher ID</option>
                   </select>
                  </div> -->
            
                <label for="publication date"><b> Pulication Date</b></label>
                <input type="text" name="publicationDate" value="<%= bookdata.publicationDate %>" >
                <div class="clearfix">
                  <a href="/admin/book"><button type="button" class="cancelbtn"><i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i> Cancel</button></a>
                  <button type="submit" class="signupbtn"><i class="fa fa-wrench" aria-hidden="true"></i> Update</button>
                </div>
              </div>
            </form>
              
            </body>
    </html> 