<!DOCTYPE html>
    <html>
        <head>
            <title>Student</title>
            <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
            <link href="../public/student_css/f_student.css" rel="stylesheet" type="text/css">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        </head>
      <body> 
          <div class="container">
            <div class="div1">
                <a href="#"><button type="button " class="btn btn-addbook disabled"><i class="fa fa-plus fa-1x" aria-hidden="true"></i></button></a>
                    <div class="btn-search">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
            <hr>    
            </div>
            <div class="table-book">
                <table class="table table-sm">  
                     <thead>
                        <tr>                          
                             <th>ID</th>
                             <th>User Name</th>
                             <th>Names</th>
                             <th>Password</th>                    
                             <th>Code</th>
                             <th>Action</th>
                        </tr>                       
                    </thead>      
                  <tbody>
                    <% for (let i = 0; i < students.length; i++) { %>
                    <tr>
                        <td><%= students[i].id %></td>
                        <td><%= students[i].userName %></td>
                        <td><%= students[i].name %></td>
                        <td><%= students[i].password %></td>
                        <td><%= students[i].code %></td>
                   

                        <td class="btn-action">
                            <a href="/admin/upstudent/<%= students[i].id %>"><button class="btn btn-success" type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button></a>
                            <a href="/admin/delstudent/<%= students[i].id %>"><button class="btn btn-danger" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button></a>
                            
                    </tr>
                   <%}%>
                 </tbody>             
                </table>            
            </div>  

            <div class="menu">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
            </div>
            <h4><%= getMessages().notify %></h4>
            <div class="home">
                <a href="/homeadmin"><button class="btn btn-warning" type="button"><i class="fa fa-home fa-2x" aria-hidden="true"></i></button></a>
            </div>
        </body>

       
    </html>