h1{
    width: 350px;
    margin: 0 auto;
    padding: 65px;
    color: black;
    font-weight: bold;
}
.btn-account
{
    width: 350px;
    margin: 0 auto;
    padding: 65px;
}
.btn-warning
 {
     background-color: antiquewhite;
     margin-left: 50%;
 }
