<!DOCTYPE html>
    <html>
        <head>
            <title>Add Author</title>
            <link href="../public/author_css/add_up_author.css" rel="stylesheet" type="text/css">
            <link href="../https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        </head>
        <body>
           
              <div class="container">      
                <h1>Add Author</h1>
                <hr>  
            <form action="/admin/addauthor" method="POST">
                 <label for="name"><b>Author Name</b></label>
                <input type="text" placeholder="Name 1" name="name" required>
                
                <label for="address"><b>Address</b></label>
                <input type="text" placeholder="Address 1" name="address" required>
                
                <label for="phone"><b>Phone Number</b></label>
                <input type="text" placeholder="Phone 1" name="phoneNumber" required>
                
                <div class="clearfix">
                  <a href="/admin/author"><button type="button" class="cancelbtn"><i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i> Cancel</button></a>
                  <button type="submit" class="signupbtn"><i class="fa fa-plus fa-1x" aria-hidden="true"></i> Create</button>
                  
                </div>
              </div>
              <h4><%= getMessages().notify %></h4>
            </form>
            </body>
    </html>