<!DOCTYPE html>
    <html>
        <head>
            <title>Author</title>
            <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
            <link href="../public/author_css/f_author.css" rel="stylesheet" type="text/css">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        </head>
      <body>
          <div class="container">
            <div class="div1">
                <a href="/author/addauthor"><button type="button" class="btn btn-addbook"><i class="fa fa-plus fa-1x" aria-hidden="true"></i></button></a>
                <form method="GET">
                    <div class="btn-search">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                    </form> 
            <hr>        
            </div>
            <div class="table-book">
                <table class="table table-sm">  
                     <thead>                         
                        <tr>                          
                             <th>ID</th>
                             <th>Names</th>
                             <th>Address</th>
                             <th>Phone Number</th>
                             <th>Action</th>
                        </tr>                       
                    </thead>      
                  <tbody>
                    <% for (let i = 0; i < authors.length; i++) { %>
                        <tr>
                            <td><%= authors[i].id %> </td>
                            <td><%= authors[i].name %></td>
                            <td><%= authors[i].address %></td>
                            <td><%= authors[i].phoneNumber %></td>
                            <td class="btn-action"  >
                                <a href="/author/upauthor/<%= authors[i].id %>"><button class="btn btn-success" type="button"><i aria-hidden="true" class="fa fa-pencil"></i></button></a>
                                <a href="/admin/delauthor/<%= authors[i].id %>"><button class="btn btn-danger" type="submit"><i aria-hidden="true" class="fa fa-trash"></i></button></a>      
                            </td>                      
                        </tr>
                    <% }  %>    
                   
                 </tbody>             
                </table>            
            </div>  

        <form action="#">
            <div class="menu">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
            </div>
            
                                    <h4><%= getMessages().notify %></h4>
            <meta http-equiv="refresh" content="-1"   >
        </form>
                
            <div class="home">
                <a href="/homeadmin"><button class="btn btn-warning" type="button"><i class="fa fa-home fa-2x" aria-hidden="true"></i></button></a>
            </div>
        </body>

       
    </html>