<!DOCTYPE html>
    <html>
        <head>
            <title>Update Author</title>
            <link href="../public/author_css/add_up_author.css" rel="stylesheet" type="text/css"> 
            <link href="../https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        </head>
        <body>
    <style>
                input[type=text],input[type=date],input[type=hidden],select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 8px;
  }hr
 {
    border: 1px solid black;
    margin-bottom: 25px;
  }
  
  button {
    background-color: black;
    color: white;
    padding:14px 20px;
    border: none;
    cursor: pointer;
    margin-right: initial;
    border-radius: 8px;
  }
  
  button:hover {
    opacity:1;
  }
  
  .cancelbtn {
    padding: 14px 20px;
    background-color: antiquewhite;
    
  }
  
  .cancelbtn, .signupbtn {
    float: left;
    width: 25%;
   
  }
  
  .container {
    width: 350px;
    margin: 0 auto;
    padding: 65px;
    margin-bottom: 10%;
  }
    h1
    {
      color: brown;
    }
  a
  {
    color: black;
  }</style>
            <form action="/admin/upauthor/<%= authordata.id %>" method="POST">
              <div class="container">
      
                <h1>Update Author</h1>
               
                <input type="hidden" name="id"  required >
  
                <label for="name"><b>Name</b></label>
                <input type="text" name="name" value="<%= authordata.name%>" required>

                
                <label for="address"><b>Address</b></label>
                <input type="text" name="address" value="<%= authordata.address%>" >

                
                <label for="phone"><b>Phone Number</b></label>
                <input type="text" name="phoneNumber" value="<%= authordata.phoneNumber%>">

        
               
                <div class="clearfix">
                  <a href="/admin/author"><button type="button" class="cancelbtn"><i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i> Cancel</button></a>
                    <button type="submit" class="signupbtn"><i class="fa fa-wrench" aria-hidden="true"></i> Update</button></div>   
                  </div>
                </div>
            </form>
              
            </body>
    </html> 