<!DOCTYPE html>
<html>
    <head>
        <link href="./public/f_home.css" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <h1>Student</h1>
    <body>
    
        <div class="home">
            <a href="./book/books"><button type="button" class="btn btn-book"><i class="fa fa-book fa-3x" aria-hidden="true"> </i> Books</button></a>
            <a href="./borrow/borrow"><button type="button" class="btn btn-borrow"><i class="fa fa-arrows-h fa-3x" aria-hidden="true"></i>Borrow</button></a>
          
            <a href="./publisher/publishers"><button type="button" class="btn btn-publisher"><i class="fa fa-product-hunt fa-3x" aria-hidden="true"></i>Publishers</button></a>
            <a href="./author/author"><button type="button" class="btn btn-author"><i class="fa fa-pencil-square fa-3x" aria-hidden="true"></i>Authors</button></a>
           
         </div>
            <a href="/student"><button type="button" class="btn-signout"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></button></a>
        
    </body>
</html>