<!DOCTYPE html>
<html>
    <head>
        <link href="./public/f_home.css" rel="stylesheet" type="text/css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <h1>Admin</h1>
    <body>
    
        <div class="home">
            <a href="/admin/book"><button type="button" class="btn btn-book"><i class="fa fa-book fa-3x" aria-hidden="true"> </i> Books</button></a>
            <a href="/admin/borrow"><button type="button" class="btn btn-borrow"><i class="fa fa-arrows-h fa-3x" aria-hidden="true"></i>Borrow</button></a>
            <a href="/admin/student"><button type="button" class="btn btn-student"><i class="fa fa-user fa-3x" aria-hidden="true"></i>Students</button></a>
            <a href="/admin/publisher"><button type="button" class="btn btn-publisher"><i class="fa fa-product-hunt fa-3x" aria-hidden="true"></i>Publishers</button></a>
            <a href="/admin/author"><button type="button" class="btn btn-author"><i class="fa fa-pencil-square fa-3x" aria-hidden="true"></i>Authors</button></a>
            <a href="/admin/admin"><button type="button" class="btn btn-admin"><i class="fa fa-cog fa-3x" aria-hidden="true"></i>Admins</button></a>
         </div>
            <a href="/admin"><button type="button" class="btn-signout"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></button></a>
        
    </body>
</html>