<!DOCTYPE html>
<html>
<head>
<title>Login</title>

<link href="public/f_login.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="wrap" >
   
<!---------------------------------------------------------------------------------------------------------------------------------->
      <form class="login-form" method="POST" action="/student/login">
        <div class="form-header"> 
            <h3>For Students</h3>
            <hr>
        </div>
        <!--username-->
        <div class="form-group">
            <input type="text" class="form-input"   name="username"  placeholder="Username">          
        <!--password-->        
            <input type="password" class="form-input" name="password" placeholder="Password">        
        <!--Login Button-->   
          <input type="submit" value="login"> 
        <!--<a href="/home"><button class="form-button" type="button">Login</button></a>-->
    
        </div>
        <div class="form-footer">`
      <a href="/signup"><button class=" form-footer" type="button">Sign Up </button><a>  <!-- #(tag form Sign up)-->
        </div>
       
        <h4><%= getMessages().notify %></h4>
    </form>
  </div>
</body>
</html>
