<!DOCTYPE html>
<html>
<head>
<title>Login</title>

<link href="public/f_login.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="wrap" >
      <form class="login-form" method="POST" action="/admin/login">

          <div class="form-header"> 
              <h3>For Administrations</h3>
              <hr>
          </div>
          <!--username-->
  
          <div class="form-group">
              <input type="text" class="form-input"   name="username"  placeholder="Username">          
          <!--password-->        
              <input type="password" class="form-input" name="password" placeholder="Password">        
          <!--Login Button-->   
            <input type="submit" value="login"> 
            <h4><%= getMessages().notify %></h4>
          <!--<a href="/home"><button class="form-button" type="button">Login</button></a>-->
          </div>
        </div>
    </form>
  </div>
</body>
</html>
