<html>
    <head>
        <title>Add User</title>        
        <link href="./public/f_signup.css" rel="stylesheet" type="text/css">
    </head>
    <body>

        <form method="POST" action="/student/signup">
          <div class="container">
  
            <h1>Sign Up For Student</h1>
 
            <hr>
          
                 <label for="input" class="sr-only">Full Name</label>
                 <input type="text" id="inputName" name="name" class="form-control" placeholder="Phung Huy Quang" required autofocus>
                
                 <label for="inputUsername" class="sr-only">Username</label>
                 <input type="text" id="inputUsername" name="userName" class="form-control" placeholder="Username" required>
                
                 <label for="inputPassword" class="sr-only">Password</label>
                 <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                
                 <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
                 <input type="password" id="inputConfirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required>

                 <label for="input" class="sr-only">Code Student</label>
                 <input type="text" id="inputCode" name="code" class="form-control" placeholder="1711041" required autofocus>

                 <h4><%= getMessages().notify %></h4>
                 
                <div class="clearfix">
              <a href="/student"><button type="button" class="cancelbtn">Cancel</button></a>
              <button type="submit" class="signupbtn">Create</button>
            </div>
          </div>
        </form>        
        </body>
</html>