/* Sign Up */

input[type=text],input[type=date],select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 8px;
  }
hr
 {
    border: 1px solid black;
    margin-bottom: 25px;
  }
  
  button {
    background-color: antiquewhite;
    color: white;
    padding:14px 20px;
    border: none;
    cursor: pointer;
    margin-right: initial;
    border-radius: 8px;
  }
  
  button:hover {
    opacity:1;
  }
  
  .cancelbtn {
    padding: 14px 20px;
    background-color: gray;
    
  }
  
  .cancelbtn, .signupbtn {
    float: left;
    width: 25%;
   
  }
  
  .container {
    width: 350px;
    margin: 0 auto;
    padding: 65px;
    margin-bottom: 10%;
  }
    h1
    {
      color: black;
    }
  a
  {
    color: black;
  }