
.table table-bordered{
    border: 4px solid black;
}
.table-book
{
    font-size: 20px;        
}
.home
{
    margin-left: 95%;
}
.pagination
{
     margin-left: 50px;
     width: 500px;
     margin: auto;
     text-align: center;
}
.pagination a
{
  display: block;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}
.pagination a:hover:not(.active)
{
    background-color:gray;
}
a
{
    color: black
}
a:hover
{
    color:gray;
}
.btn-addbook
{
    background-color: antiquewhite;
    
}
hr{
    border: 1px solid black;
}
div.btn-search input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    width: 50%;
    background: #f1f1f1;
    width: 500px;
    
   
  }
  
  div.btn-search button {
       float: left;
    width: 10%;
    padding: 6px;
    background: antiquewhite;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    width: 50px;
    
  }
  
  div.btn-search button:hover {
    background: gray;
  }
 .container
 {
     display:flex;
     flex-direction: column;
     justify-content: space-around;
 }
 .div1
 {
     display: grid;
     grid-template-columns: 500px 1fr;
     margin-top: 2rem;
     height: 50%;    
 }
 .btn-search
 {  
     justify-self: end;
 }
 .btn-warning
 {
     background-color: antiquewhite;
 }
