
.btn
{
    border:3px solid black;
    font-weight: bold;
    background-color: antiquewhite ;
    padding: 30px 30px;
    font-size: 20px;
    cursor: pointer;
    
}
.btn-signout
{
    padding: 9px;
    margin-left: 80%;
    background-color: antiquewhite   ;
    border:2px solid black;   
}

.home
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,10rem);
    grid-template-rows: repeat(2,1fr);
    align-content: center;
    justify-content: center;    
    grid-column-gap:5rem ;
    grid-row-gap:5rem ;
    margin-top: 10%;
   
}
*{
    border-radius: 15px ;
}
i
{
    color: black;
}
a{
    color: black;
}