/* login */
*{
   
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
html{
    height: 100%;
}
body{
    line-height: 1.6; 
}
.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}
.login-form{
    width: 350px;
    margin: 0 auto;
    /*border: 4px solid rgb(5, 5, 5);*/
    padding: 2rem;
   /*background-color: darkgrey;*/
}
.form-input{
    
    border: 1px solid #eeeeee;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
}
.form-button{
    border-radius: 8px;
    background:wheat;
    padding: 10px;
    width: 100%;
}
.form-header{
    text-align: center;
    margin-bottom : 2rem;
    color: black;
    font-size: 30px;
   

}
.form-footer{
    text-align: right;
    border-radius: 8px;
    
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
a
{
    color:black;
    font-weight: bold;
}
input[type=submit] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 8px;
  }
  