/* Sign Up */

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 8px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  button {
    background-color: gray;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-right: initial;
    border-radius: 8px;
  }
  
  button:hover {
    opacity:1;
  }
  
  .cancelbtn {
    padding: 14px 20px;
    background-color: brown;
    
  }
  
  .cancelbtn, .signupbtn {
    float: left;
    width: 25%;
   
  }
  
  .container {
    width: 350px;
    margin: 0 auto;
    /*border: 4px solid black;*/
    padding: 65px;
    /*background-color: darkgrey;;*/
    
    
  }
    h1
    {
      color: black;
    }
  a
  {
    color: black;
  }