<!DOCTYPE html>
    <html>
        <head>
            <title>Add Publisher</title>
            <link href="../public/publisher_css/add_up_publisher.css" rel="stylesheet" type="text/css">
            <link href="../https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        </head>
        <body>

              <div class="container">
      
                <h1>Add Publisher</h1>
     
                <hr>
                <form action="/admin/addpublisher" method="POST">
                 <label for="name"><b>Publisher Name</b></label>
                <input type="text" placeholder="Name 1" name="name" required>
                
                <label for="address"><b>Address</b></label>
                <input type="text" placeholder="Address 1" name="address" required>
                
                <label for="phone"><b>Phone Number</b></label>
                <input type="text" placeholder="Phone 1" name="phoneNumber" required>
                
                <div class="clearfix">
                  <a href="/admin/publisher"><button type="button" class="cancelbtn"><i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i> Cancel</button></a>
                  <button type="submit" class="signupbtn"><i class="fa fa-plus fa-1x" aria-hidden="true"></i> Create</button>
                </div>
              </div>
              <h4><%= getMessages().notify %></h4>
            </form>

            </body>
    </html>