<!DOCTYPE html>
    <html>
        <head>
            <title>Publisher</title>
            <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
            <link href="../public/publisher_css/f_publisher.css" rel="stylesheet" type="text/css">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        </head>
      <body> 
          <div class="container">
            <div class="div1">
                <a href="/publisher/addpublisher"><button type="button" class="btn btn-addbook"><i class="fa fa-plus fa-1x" aria-hidden="true"></i></button></a>
                    <form method="GET">
                    <div class="btn-search">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                    </form>
            <hr>    
            </div>
            <div class="table-book">
                <table class="table table-sm">  
                     <thead>
                        <tr>                          
                             <th>ID</th>
                             <th>Names</th>
                             <th>Address</th>
                             <th>Phone Number</th>
                             <th>Action</th>
                        </tr>                       
                    </thead>      
                  <tbody>
                    <tr>
                        <% for (let i = 0; i < publishers.length; i++) { %>
                            <tr>
                                <td><%= publishers[i].id %> </td>
                                <td><%= publishers[i].name %></td>
                                <td><%= publishers[i].address %></td>
                                <td><%= publishers[i].phoneNumber %></td>
                        <td class="btn-action"  >
                            <a href="/publisher/uppublisher/<%= publishers[i].id %>"><button class="btn btn-success" type="button"><i class="fa fa-pencil" aria-hidden="true"></i></button></a>
                            <a href="/admin/delpublisher/<%= publishers[i].id %>"><button class="btn btn-danger" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button></a>
                        </td>                      
                    </tr>
                    <% }%>
                 </tbody>             
                </table>            
            </div>  

            <div class="menu">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
            </div>
            <h4><%= getMessages().notify %></h4>
            <div class="home">
                <a href="/homeadmin"><button class="btn btn-warning" type="button"><i class="fa fa-home fa-2x" aria-hidden="true"></i></button></a>
            </div>
        </body>

       
    </html>