<!DOCTYPE html>
    <html>
        <head>
            <title>Update Publisher</title>
            <link href="../public/publisher_css/add_up_publisher.css" rel="stylesheet" type="text/css">
            <link href="../https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        </head>
        <body>
            <style>
              /* Sign Up */

input[type=text],input[type=date],select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 8px;
  }
hr
 {
    border: 1px solid black;
    margin-bottom: 25px;
  }
  
  button {
    background-color: antiquewhite;
    color: white;
    padding:14px 20px;
    border: none;
    cursor: pointer;
    margin-right: initial;
    border-radius: 8px;
  }
  
  button:hover {
    opacity:1;
  }
  
  .cancelbtn {
    padding: 14px 20px;
    background-color: gray;
    
  }
  
  .cancelbtn, .signupbtn {
    float: left;
    width: 25%;
   
  }
  
  .container {
    width: 350px;
    margin: 0 auto;
    padding: 65px;
    margin-bottom: 10%;
  }
    h1
    {
      color: black;
    }
  a
  {
    color: black;
  }</style>

              <div class="container">
      
                <h1>Update Publisher</h1>
                <form action="/admin/uppublisher/<%= publisherdata.id %>" method="POST">
                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Name 1" name="name" value="<%= publisherdata.name%>" required>

                
                <label for="address"><b>Address</b></label>
                <input type="text" placeholder="Name 1" name="address" value="<%= publisherdata.address%>" >

                
                <label for="phone"><b>Phone Number</b></label>
                <input type="text" placeholder="Name 1" name="phoneNumber" value="<%= publisherdata.phoneNumber%>">
                               
               <div class="clearfix">
                    <a href="/admin/publisher"><button type="button" class="cancelbtn"><i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i> Cancel</a></button></a>
                  <button type="submit" class="signupbtn"><i class="fa fa-wrench" aria-hidden="true"></i> Update</button></div>   
                </div>
              </div>
            </form>
              
            </body>
    </html> 