<!DOCTYPE html>
    <html>
        <head>
            <title>Add Borrow</title>
            <link href="../public/borrow_css/f_add_up_borrow.css" rel="stylesheet" type="text/css">
            <link href="../https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        </head>
        <body>

            <form action="/admin/addborrow" method="post">
              <div class="container">
      
                <h1>Add Borrow</h1>
     
                <hr>              
                <label for="studentid"><b>Student Code</b></label>
                <input type="text" placeholder="Student Code" name="studentCode" required>
                  <!-- <div class="list-author">
                   <select>
                     <option>Student ID</option>
                     <option>Student ID 2</option>
                     <option>Student ID 3</option>
                     <option>Student ID 4</option>
                     <option>Student ID 5</option>
                   </select>
                  </div> -->

                  <label for="bookid"><b>Book ID</b></label>
                  <input type="text" placeholder="Book ID" name="bookId" required>
                  <!-- <div class="list-pub">
                   <select>
                     <option>Book ID</option>
                     <option>Book ID 2</option>
                     <option>Book ID 3</option>
                     <option>Book ID 4</option>
                     <option>Book ID 5</option>
                   </select>
                  </div> -->
            
                <!-- <label for="borrowdate"><b> Borrow Date</b></label> -->
                <!-- <input type="hidden" name="borrowDate" value="27/10/1999" > -->

                <label for="booklender"><b>Book Lender</b></label>
                <input type="text" placeholder="Book Lender 1" name="bookLender" required>
                <!-- <div class="list-pub">
                 <select>
                   <option>Book Lender</option>
                   <option>Book Lender 2</option>
                   <option>Book Lender 3</option>
                   <option>Book Lender 4</option>
                   <option>Book Lender 5</option>
                 </select>
                </div> -->
                    
                
                <div class="clearfix">
                  <a href="/admin/borrow"><button type="button" class="cancelbtn"><i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i> Cancel</button></a>
                  <button type="submit" class="signupbtn"><i class="fa fa-plus fa-1x" aria-hidden="true"></i> Create</button>
                </div>

               
          
              </div>
            </form>

            </body>
    </html>