<!DOCTYPE html>
    <html>
        <head>
            <title>Borrow And Return</title>
            <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
            <link href="../public/borrow_css/f_borrow.css" rel="stylesheet" type="text/css">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        </head>
      <body> 
          <div class="container">
            <div class="div1">
                <a href="/borrow/addborrow"><button type="button" class="btn btn-addbook"><i class="fa fa-plus" aria-hidden="true"></i></button></a>
                <form method="GET">
                    <div class="btn-search">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                    </form>
                    
            <hr>    
            </div>
            <div class="table-book">
                <table class="table table-sm">  
                     <thead>
                        <tr>                          
                             <th>Student Code</th>
                             <th>Book ID</th>
                             <th>Book Lender</th> 
                             <th>Date Borrow </th>                           
                              <th>Return</th>
                              <th>Date Return </th>
                              <th>Delete</th>
                        </tr>                       
                    </thead>      
                  <tbody>
                    <% for (let i = 0; i < borrows.length; i++) { %>
                    <tr>
                         <td><%= borrows[i].studentCode %></th>
                         <td><%= borrows[i].bookId %></td>
                         <td><%= borrows[i].bookLender %></td>
                         <td><%= borrows[i].borrowDate %></td>
                        
                         <td class="btn-action"  >
                            <a href="/admin/returnBorrow/<%=borrows[i].id %>"><button class="btn btn-success" type="submit"><i class="fa fa-telegram" aria-hidden="true"></i></button></a>
                        </td>          
                        <td><%= borrows[i].returnDate %></td>
                        <td class="btn-action"  >
                        <a href="/admin/delborrow/<%=borrows[i].id %>"><button class="btn btn-danger" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button></a>       
                        </td>     
                    </tr>
                    <% } %>
                 </tbody>             
                </table>            
            </div>  
            
                <ul class="pagination">
                    <li class="page-item "><a class="page-link" href="?page-1">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="?page=1">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
            </div>
            <h4><%= getMessages().notify %></h4>
            <div class="home">
                <a href="/homeadmin"><button class="btn btn-warning" type="button"><i class="fa fa-home fa-2x" aria-hidden="true"></i></button></a>
            </div>
        </body>

       
    </html>