<html>
    <head>
        <title>Add Admin</title>        
        <link href="./public/f_signup.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <style>/* Sign Up */

          input[type=text], input[type=password] {
              width: 100%;
              padding: 15px;
              margin: 5px 0 22px 0;
              display: inline-block;
              border: none;
              background: #f1f1f1;
              border-radius: 8px;
            }
            
            input[type=text]:focus, input[type=password]:focus {
              background-color: #ddd;
              outline: none;
            }
            
            hr {
              border: 1px solid #f1f1f1;
              margin-bottom: 25px;
            }
            
            button {
              background-color: gray;
              color: white;
              padding: 14px 20px;
              border: none;
              cursor: pointer;
              width: 100%;
              margin-right: initial;
              border-radius: 8px;
            }
            
            button:hover {
              opacity:1;
            }
            
            .cancelbtn {
              padding: 14px 20px;
              background-color: brown;
              
            }
            
            .cancelbtn, .signupbtn {
              float: left;
              width: 25%;
             
            }
            
            .container {
              width: 350px;
              margin: 0 auto;
              /*border: 4px solid black;*/
              padding: 65px;
              /*background-color: darkgrey;;*/
              
              
            }
              h1
              {
                color: black;
              }
            a
            {
              color: black;
            }</style>
        <form method="POST" action="/admin/signup">
          <div class="container">
  
            <h1>Sign Up For Admin</h1>
 
            <hr>
                          
                 <label for="inputUsername" class="sr-only">Username</label>
                 <input type="text" id="inputUsername" name="userName" class="form-control" placeholder="Username" required>
                
                 <label for="inputPassword" class="sr-only">Password</label>
                 <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                
                 <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
                 <input type="password" id="inputConfirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required>

                 <h4><%= getMessages().notify %></h4>
                 
                <div class="clearfix">
              <a href="/admin/admin"><button type="button" class="cancelbtn">Cancel</button></a>
              <button type="submit" class="signupbtn">Create</button>
            </div>
          </div>
        </form>        
        </body>
</html>