<!DOCTYPE html>
    <html>
        <head>
            <title>Update Admin</title>
            <link href="../public/student_css/add_up_student.css" rel="stylesheet" type="text/css">
            <link href="../https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        </head>
        <body>
          <style>/* Sign Up */

            input[type=text],input[type=date],select {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                display: inline-block;
                border: none;
                background: #f1f1f1;
                border-radius: 8px;
              }
            hr
             {
                border: 1px solid black;
                margin-bottom: 25px;
              }
              
              button {
                background-color: antiquewhite;
                color: white;
                padding:14px 20px;
                border: none;
                cursor: pointer;
                margin-right: initial;
                border-radius: 8px;
              }
              
              button:hover {
                opacity:1;
              }
              
              .cancelbtn {
                padding: 14px 20px;
                background-color: gray;
                
              }
              
              .cancelbtn, .signupbtn {
                float: left;
                width: 25%;
               
              }
              
              .container {
                width: 350px;
                margin: 0 auto;
                padding: 65px;
                margin-bottom: 10%;
              }
                h1
                {
                  color:black;
                }
              a
              {
                color: black;
              }</style>

            <form action="/admin/upadmin/<%= admindata.id %>" method="POST">
              <div class="container">
      
                <h1>Update Admin</h1>
                <label for="username"><b>Username</b></label>
                <input type="text" name="userName" value="<%= admindata.userName %>" required>

                <label for="pwd"><b>Password</b></label>
                <input type="text" name="password" value="<%= admindata.password %>" >

               <div class="clearfix">
                <a href="/admin/admin"><button type="button" class="cancelbtn"><i class="fa fa-times-circle-o fa-1x" aria-hidden="true"></i> Cancel</button></a>
                  <button type="submit" class="signupbtn"><i class="fa fa-wrench" aria-hidden="true"></i> Update</button></div>   
                </div>
              </div>
            </form>
              
            </body>
    </html> 